.container-form {
    height: 80%;
  }

  .topo{
      padding: 5px;
      text-align: center;
      font-size: 10px;
  }

  .topo.h1{
    font-size: 10px;
}

  .container-form {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 40px;
    background-color: #1d1b1b;
  }


  
  .form-default{
    width: 100%;
    max-width: 50%;
    padding: 15px;
    margin: 0 left;
  }

  .form-default .form-control:focus {
    z-index: 2;
  }

  .form-default .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media all and (min-width: 480px){
    .form-default{
        padding: 10px 0;
        width: 100%;
    }
}

  /*
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-default .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  @media all and (min-width: 480px){
      .login{
          padding: 10px 0;
          width: 100%;
      }
  }*/